@model live.courses.Models.AspNetUser

@{
    ViewBag.Title = "profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    b {color:cornsilk;
    }
</style>
<h2>profile</h2>

<div class="row">
    <div class="col-sm-4">
        <a href="#"><svg width="250"height="250"><circle cx="200"cy="200"r="50"fill="blue"></circle></svg><b>courses</b></a>
    </div>
</div>
<div>
    <h4>AspNetUser</h4>
    <hr />
   