
@{
    ViewBag.Title = "ourTeam";
    Layout = "~/Views/Shared/_mylayout.cshtml";
}

<h2>ourTeam</h2>

<html>
<head>
    <title> About US </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="Untitled-2.css">
    <link rel="stylesheet" href="bootstrap.min.css">
    <style type="text/css">
        .container {
            background-color: #92c7ce
        }

        .row {
            margin: 30px;
            padding: 40px;
        }
    </style>
</head>
<body>


    <!--start navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
        <a class="navbar-brand" href="#">Team Work</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>


    </nav>
    <!--end navbar-->


    <div class="container">


        <div class="row">
            <div class="col-4"><img src="received_266644167354163.jpeg" class="rounded-circle"></div>
            <div class="col-8">
                <div class="card text-white bg-secondary mb-3">
                    <div class="card-header">Basem asfoor</div>
                    <div class="card-body">
                        <h5 class="card-title">About me</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.Some quick example text to build on the card title and make up the bulk of the card's content.Some quick example text to build on the card title and make up the bulk of the card's content.Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-4"><img src="received_266644167354163.jpeg" class="rounded-circle"></div>
            <div class="col-8">
                <div class="card text-white bg-success mb-3">
                    <div class="card-header">Basem asfoor</div>
                    <div class="card-body">
                        <h5 class="card-title">About me</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.Some quick example text to build on the card title and make up the bulk of the card's content.Some quick example text to build on the card title and make up the bulk of the card's content.Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-4"><img src="received_266644167354163.jpeg" class="rounded-circle"></div>
            <div class="col-8">
                <div class="card text-white bg-danger mb-3">
                    <div class="card-header">Basem asfoor</div>
                    <div class="card-body">
                        <h5 class="card-title">About me</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.Some quick example text to build on the card title and make up the bulk of the card's content.Some quick example text to build on the card title and make up the bulk of the card's content.Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>

        </div>


        <div class="row">
            <div class="col-4"><img src="received_266644167354163.jpeg" class="rounded-circle"></div>
            <div class="col-8">
                <div class="card text-white bg-warning mb-3">
                    <div class="card-header">Basem asfoor</div>
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.Some quick example text to build on the card title and make up the bulk of the card's content.Some quick example text to build on the card title and make up the bulk of the card's content.Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>

        </div>





        <div class="row">
            <div class="col-4"><img src="received_266644167354163.jpeg" class="rounded-circle"></div>
            <div class="col-8">
                <div class="card text-white bg-info mb-3">
                    <div class="card-header">Basem asfoor</div>
                    <div class="card-body">
                        <h5 class="card-title">About me</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.Some quick example text to build on the card title and make up the bulk of the card's content.Some quick example text to build on the card title and make up the bulk of the card's content.Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-4"><img src="received_266644167354163.jpeg" class="rounded-circle"></div>
            <div class="col-8">
                <div class="card text-white bg-dark mb-3">
                    <div class="card-header">Basem asfoor</div>
                    <div class="card-body">
                        <h5 class="card-title">About me</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.Some quick example text to build on the card title and make up the bulk of the card's content.Some quick example text to build on the card title and make up the bulk of the card's content.Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-4"><img src="received_266644167354163.jpeg" class="rounded-circle"></div>
            <div class="col-8">
                <div class="card text-white bg-danger mb-3">
                    <div class="card-header">Basem asfoor</div>
                    <div class="card-body">
                        <h5 class="card-title">About me</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.Some quick example text to build on the card title and make up the bulk of the card's content.Some quick example text to build on the card title and make up the bulk of the card's content.Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>

            </div>


            <div class="row">
                <div class="col-4"><img src="received_266644167354163.jpeg" class="rounded-circle"></div>
                <div class="col-8">
                    <div class="card text-white bg-warning mb-3">
                        <div class="card-header">Basem asfoor</div>
                        <div class="card-body">
                            <h5 class="card-title">About me</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.Some quick example text to build on the card title and make up the bulk of the card's content.Some quick example text to build on the card title and make up the bulk of the card's content.Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>

            </div>






</body>
</html>