*, html, body {
    margin: 0;
    padding: 0;
}

header {
    background-color: lightblue;
    height: 70px;
    line-height: 70px;
}

ul {
    list-style: none;
}

    ul li {
        display: inline-block;
    }

header nav {
    float: right;
}

.logo {
    margin-top: 30px;
}

header nav ul li a {
    padding-right: 30px;
    font-weight: bold;
    color: white;
    transition: all 0.5s ease-in;
}

    header nav ul li a:hover {
        text-decoration: none;
        color: darkblue;
    }
header div div a:hover {
    text-decoration: none;
    color: darkseagreen;
    transition: all 0.5s ease-in;
}
 .logo {
border:4px dashed #7ccbe5;
padding:10px;
}

.img1 {
    background-image: linear-gradient(rgba(0,0,0,0,7),rgba(0,0,0,0,7), url(); /*ناقصه اللينك بتاع الصورة*/
    background-size: 100% 100%;
}

.slider, .slider ul, .slider ul li {
    height: 710px;
    width: 100%;
    color: white;
    text-align: center;
}

    .slider h2 {
        font-weight: bold;
    }

    .slider span {
        color: darkgoldenrod;
    }

    .slider a {
        padding: 10px
    }

footer {
    padding: 1em;
    color: white;
    background-color: #007196;
    clear: left;
    text-align: center;
}